
<div class="row">
  <div class="col">
    <img src="/assets/icon.png" class="img-fluid" alt="">
  </div>
  <div class="col">
    <h1 class="display-3">About Me</h1>
    <hr/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1 class="display-3">My Mission</h1>
    <hr/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
  <div class="col">
    <img src="/assets/mission.png" class="img-fluid" alt="">
  </div>
</div>
