$grey: #707070;
$purple: #4424F1;
$special-font: normal 700 "variex", sans-serif;
$header-font: normal 700 "ofelia-text", sans-serif;
$normal-font: normal 400 "ofelia-text", sans-serif;
body{
  background-color: black;
  font: $normal-font;
  color:white;
}

