@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/bootstrap/scss/bootstrap";

$normal-font: normal 400 "ofelia-text", sans-serif;
body{
  background-color: black;
  font: $normal-font;
  color:white;
}
