<app-home-banner></app-home-banner>
<div id="latestTutorials" class="cardGroup">
  <h3>Latest Tutorials</h3>
  <div class="d-flex flex-row mb-3 justify-content-center">
  <div class="card">
    <img src="../src/assets/angular.png" class="card-img-top" alt="Image of Angular Code">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary exploreBtn" role="button" >Explore</button>
    </div>
  </div>
  <div class="card">
    <img src="../src/assets/react.png" class="card-img-top" alt="Image of react code">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary exploreBtn" role="button" >Explore</button>
    </div>
  </div>
  <div class="card" >
    <img src="../src/assets/sep.png" class="card-img-top" alt="Image reading 'SEO'">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <button class="btn btn-primary exploreBtn" role="button">Explore</button>
    </div>
  </div>
</div>
</div>
